<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Inventario</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'inventario/styles.css' %}">
</head>
<body>
    <header style="display: flex; justify-content: space-between; align-items: center; padding: 10px; position: absolute;
        top: 0; width: 70%">
        <div style="display: flex; align-items: center;">
            <nav style="display: flex; gap: 10px;">
                {% if request.user.rol == "Administrador" %}
                  <a href="{% url 'gestionUsuarios' %}" class="button">Usuarios</a>
                  <a href="{% url 'gestionProveedores' %}" class="button">Proveedores</a>
                  <a href="{% url 'gestionProductos' %}" class="button">Productos</a>
                {% endif %}
                <a href="{% url 'gestionInventario' %}" class="button">Inventario</a>
                <a href="{% url 'historial' %}" class="button">Historial</a>
            </nav>
        </div>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="button delete">Cerrar Sesión</button>
        </form>
    </header>

    <div class="container">
        <h1>Historial de Inventario</h1>

        <div class="table-container">
            <h2>Lista de Historial de Inventario</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Producto</th>
                        <th>Cantidad Disponible</th>
                        <th>Descripción</th>
                        <th>Cantidad Cambiada</th>
                        <th>Usuario</th>
                        <th>Fecha de Cambio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in historialInventario %}
                    <tr>
                        <td>{{ registro.id }}</td>
                        <td>{{ registro.inventario.producto.nombre_producto }}</td>
                        <td>{{ registro.inventario.cantidad_disponible }}</td>
                        <td>{{ registro.descripcion }}</td>
                        <td>{{ registro.cantidad_cambiada }}</td>
                        <td>{{ registro.usuario.username }}</td>
                        <td>{{ registro.fecha_cambio }}</td>
        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
